# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Redis dump files (if any)
dump.rdb

# Docker
*.pid
*.sock

# IDE/editor
.vscode/
.DS_Store
*.swp
